<h1>Books</h1>
<p>ログイン後ここに遷移する</p>
<div>
  <h1>User info</h1>
  <%= image_tag @user.get_image(100,100) %>
  <h5>name</h5>
  <h3><%= @user.name %></h3>
  <h5>introduction</h5>
  <%= link_to "edit", edit_user_path %>
</div>
