<main>
  <div class="main row justify-container-center">
    <div class="top-content col-6 offset-3">
      <div class="top-comment">
        <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers !!</strong></h1>
        <h6>In <i class="fa-solid fa-book"></i><strong>Bookers</strong>,</h6>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
      </div>
      <div class="link">
        <button type="button"class="btn btn-primary btn-block">Sign up</button>
        <button type="button"class="btn btn-success btn-block">Log in</button>
      </div>
    </div>
    
  </div>
    
    
  
  
  
  
</main>
