@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-brand {
  height: 70px;
}

.nav-item {
  height: 70px;
  
}

.justify-container-center {
  justify-content: center;
}

.link {
  width: 500px;
}
.new-book {
  margin-top:10px;
}

.edit-page-link {
  display: flex;
}